@import '../../style/themes/index';
@import '../../style/mixins/index';

@alert-prefix-cls: ~'@{ant-prefix}-alert';

.@{alert-prefix-cls} {
  &&-rtl {
    padding: 8px 15px;
    direction: rtl;
  }

  &&-no-icon {
    .@{alert-prefix-cls}-rtl& {
      padding: @alert-no-icon-padding-vertical 15px;
    }
  }

  &&-closable {
    .@{alert-prefix-cls}.@{alert-prefix-cls}-rtl& {
      padding-left: 30px;
    }
  }

  &&-no-icon&-closable {
    .@{alert-prefix-cls}.@{alert-prefix-cls}-rtl& {
      padding-right: 15px;
      padding-left: 30px;
    }
  }

  &-close-icon {
    .@{alert-prefix-cls}-rtl & {
      right: auto;
      left: @padding-md;
    }
  }

  &&-with-description {
    .@{alert-prefix-cls}-rtl& {
      padding: @alert-with-description-padding-vertical @alert-with-description-icon-size
        @alert-with-description-padding-vertical @alert-with-description-padding-vertical;
    }
  }

  &-with-description&-no-icon {
    .@{alert-prefix-cls}.@{alert-prefix-cls}-rtl& {
      padding: 15px;
    }
  }

  &-icon {
    .@{alert-prefix-cls}-rtl & {
      margin-left: 7px;
      margin-right: initial;
    }
    .@{alert-prefix-cls}-rtl.@{alert-prefix-cls}-with-description & {
      margin-left: @alert-with-description-padding-vertical;
    }
  }

  &-action {
    .@{alert-prefix-cls}-rtl & {
      margin-right: auto;
      margin-left: initial;
    }
    .@{alert-prefix-cls}-rtl.@{alert-prefix-cls}-closable & {
      margin-right: auto;
      margin-left: @alert-action-gutter;
    }
  }

  &-with-description &-close-icon {
    .@{alert-prefix-cls}-rtl& {
      right: auto;
      left: @padding-md;
    }
  }
}
